.code {
    font-family: Lucida Console, Monaco, Courier;
    &.keyword {
        color: $magenta;
    }
    &.brace {
        color: $gray;
    }
    &.pr-str {
        color: $green;
    }
}

.markdown {
    & > span {
        display: flex;
        flex-wrap: wrap;
    }
    .emoji {
        padding-right: 10px;
    }
    :not(em) > .segment {
        padding-right: 5px;
    }
}
