.code {
    font-family: Monaco;
    code:not(.editable):not(:hover) {
        color: $dark-blue;
        background-color: #eee;
    }
    &.keyword {
        color: $magenta;
    }
    &.brace {
        color: $gray;
    }
    &.pr-str {
        color: $green;
    }
}

.markdown {
    font-family: sans-serif;
    & > span {
        display: flex;
        flex-wrap: wrap;
    }
    .emoji {
        padding-right: 10px;
    }
    :not(em):not(strong) > .segment {
        padding-right: 5px;
    }
}
