.header {
    display: flex;
    justify-content: space-between;
    .home-link {
        display: flex;
        align-items: flex-start;
        margin-top: 0;
    }
    .logo {
        height: 50px;
        width: auto;
    }
}
